@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-shadow {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.bg-liner {
  background: linear-gradient(to right, #0ea8b0, #3bbcc2, #83dce0, #42cfd8, #1dc4cd, #0db5c0);
}

.bg-liner2 {
  background: linear-gradient(to bottom, #f5fffe, #e3ffff, #d7ffff, #c9ffff, #bdfffe, #b3ffff);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content span {
  font-weight: 400;
}

.content p {
  margin-bottom: 10px !important;
}

.content h2 {
  line-height: 30px;
  font-size: 28px !important;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 35px;
  color: #2C5D6C;
}

.content h3 {
  font-size: 22px !important;
  font-weight: bold;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #2C5D6C;
}

.content ul {
  list-style: disc;
  padding-inline-start: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content a {
  color: #2C5D6C;
}

.css-13cymwt-control {
  border-radius: 44px !important;
  padding: 4px 0;
  outline: none !important;
  border-color: transparent !important;
  ;
}

.css-t3ipsp-control {
  border-radius: 44px !important;
  padding: 4px 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spins {
  animation: spin 1s linear infinite;
}

/* new css */

.header-bg {
  background: linear-gradient(to right, #89601B, #F0D284, #F2CD77, #92651C, #EAC775);
}

.header-bg-1 {
  background: linear-gradient(to right, #F0D284, #89601B, #92651C, #92651C, #ac9152, #EAC775);
}

.footer-bg {
  background: linear-gradient(to right, #be8d48, #f2d58d, #be833d);
}

.bg-text {
  background: linear-gradient(to right, #895500, #F0C964, #EABD54, #925E08, #EABD54, #EABD54);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-text-blue {
  background: linear-gradient(to right, #0a3b8e, #1453a0, #1e6bb2, #2982c4, #1e8cc4, #1e8cc4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-blue {
  background: linear-gradient(to right, #0a3b8e, #1453a0, #1e6bb2, #2982c4, #1e8cc4, #1e8cc4);
}

.bg-text2 {
  background: linear-gradient(to right, #e9bb3b, #f0e1c2, #d4a93a, #e0bb41);
}

.bg-10-lit {
  background: linear-gradient(to bottom, #FAEDC8, #F8F7F3);
}

.backgound-form {
  margin-bottom: 36px;
  background: #fcd8a4;
  padding: 50px;
  font-size: 13px !important;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-image: linear-gradient(to right, #EBC982, #F6ECB8, #eed893);
}

.css-1jqq78o-placeholder {
  color: #002A9E !important;
  font-style: italic;
  font-weight: 600;
}

.header-top {
  background: #f8f9fa;
  padding: 10px;
  transition: transform 0.3s ease;
}
.header-bottom {
  color: white;
  padding: 10px;
  width: 100%;
  
}

.header .header-top {
  transform: translateY(-100%);
  opacity: 0;
}
.header .header-bottom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.bg-custom-yellow {
  background: linear-gradient(to right, #fdf9ed, #f6f0de);
}

.dk-dung-thu {
  padding: 6px 8px !important;
  background: linear-gradient(to right, #BD9840, #FEF0AD, #EABD54, #EABD54);
  color: #996E30 !important;
  border-radius: 50px;
}

.bg-text-1 {
  background: linear-gradient(to right, #6E490A, #C7831B, #C5821A, #6E490A);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-number {
  background: linear-gradient(to right, #895500, #F0C964, #A16f16, #925E08, #EABD54);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.dkdt {
  background: linear-gradient(to right, #BD9840, #FEF0AD, #EABD54, #EABD54);
  color: #84571B !important;
  border-radius: 50px;
  padding: 12px;
  text-align: center;
  border: 2px solid #FEF0AD;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
}